LANGSMITH_API_KEY="LANGSMITH_API_KEY"
LANGSMITH_TRACING="LANGSMITH_TRACING"
LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com
LANGSMITH_PROJECT=Craftpilot

INFOMANIAK_API_KEY="INFOMANIAK_API_KEY"
INFOMANIAK_PRODUCT_ID="INFOMANIAK_PRODUCT_ID"

MOODLE_DB_PASSWORD="MOODLE_DB_PASSWORD"

INTERNAL_API_TOKEN="INTERNAL_API_TOKEN"
USE_REMOTE_RERANKER=true
RERANKER_MODEL="RERANKER_MODEL"