LANGSMITH_API_KEY=api_key
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com
LANGSMITH_PROJECT=Craftpilot

INFOMANIAK_API_KEY=api_key
INFOMANIAK_PRODUCT_ID=pid

MOODLE_DB_PASSWORD=username_here

INTERNAL_API_TOKEN=psw_here
USE_REMOTE_RERANKER=bool
RERANKER_MODEL=string