.env
.gradio/
*.sqlite3
*_db/
logging*
*.log
__pycache__/
tests/
hello_world_*/
node-modules/
client_example.py
.code-workspace
.vscode/
*test*
*.md
!TROUBLESHOOT.md
!CLAUDE.md
!docs/**/*.md